modules = ["nodejs-20", "web"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-25_05"
packages = ["imagemagick"]

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "NODE_ENV=development ./node_modules/.bin/tsx server/index.ts"
waitForPort = 5000

[userenv]

[userenv.shared]
PAYPAL_ENV = "live"
VITE_PAYPAL_ENV = "live"
SMTP2GO_SENDER = "noreply@qiroxstudio.online"
SMTP2GO_SENDER_NAME = "Qirox"
EMAIL_LOGO_URL = "https://raw.githubusercontent.com/Darsh20009/QIROXsystem/main/client/public/logo.png"
EMAIL_SITE_URL = "https://qiroxstudio.online"
SMTP2GO_API_KEY = "api-9494CBB84EAC4F5EA0F269C9D1AC9BD2"
MONGODB_URI = "mongodb+srv://Vercel-Admin-QIROXSYSTEM:ASDqwe123@qiroxsystem.ekvjdkj.mongodb.net/?appName=QIROXSYSTEM"
GOOGLE_CLIENT_ID = "982269596237-69s9ue2hfnsvah1em2t76sovaj5htkrf.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET = "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"
PAYPAL_CLIENT_ID = "AXjzQSCwpCaGAYv6sM7ZNbIUgf4rHZQV_WIDt4cpzYcePKX7cXt6lQbrN_NWIfBkAT8PGZQ-8jN6ld5N"
PAYPAL_CLIENT_SECRET = "EAMgxuwMDMxoLbmOeazA32q4PmwnqtkVQjkMIT2Ieg2549ihiWAgeBH91bbXQOBnahaCSLVHHeNWsj7a"
TELEGRAM_BOT_USERNAME = "QIROX_BOT"
GROQ_API_KEY = "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"
APPLE_CLIENT_ID = "V4K6RM59LS.online.qiroxstudio.qirox"
APPLE_TEAM_ID = "V4K6RM59LS"
APPLE_KEY_ID = "8J92ZKSZ3Q"
APPLE_PRIVATE_KEY = """
-----BEGIN PRIVATE KEY-----
MIGTAgEAMBMGByqGSM49AgEGCCqGSM49AwEHBHkwdwIBAQQgGo+s41QzAaXYngSN
zW+mVsTW54Pj716Y62DO9eG2qHugCgYIKoZIzj0DAQehRANCAAT66XjA8uWem+Gz
dcfqqmIC/seRaxnGgbiFh1zBgrJS9njqumH9ggI/R0TddwkpR5O4QltpFuHgkhHw
L1k8/lWB
-----END PRIVATE KEY-----"""

[agent]
expertMode = true
integrations = ["google-sheet:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000
